body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100%;
}

h1 {
    font-size: 200%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: auto; /* Adjust width based on content */
    max-width: 200px; /* Optional: set a max width */
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    font-size: 100%;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80%; /* Position the tooltip above the text */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
    opacity: 0;
    transition: opacity 0.2s;
    border: 2px solid black;
    display: flex;
    align-items: center; /* Center the text vertically */
    vertical-align: middle;
    justify-content: center; /* Center the text horizontally */
}
.tooltiptext-inner {
    display: inline;
}

/* Show the tooltip text when hovering */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #115740;
    display: flex;
    justify-content: center;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.content {
    padding: 16px;
}

.urdu-font {
    font-family: 'Noto Nastaliq Urdu', system-ui;
}

/* Additional font classes */
.arial-font {
    font-family: Arial, sans-serif;
}

.times-new-roman-font {
    font-family: 'Times New Roman', Times, serif;
}

.verdana-font {
    font-family: Verdana, Geneva, sans-serif;
}

.georgia-font {
    font-family: Georgia, serif;
}

.urdu-typesetting-font {
    font-family: 'Urdu Typesetting', sans-serif;
    font-size: 200%;
}

.jameel-noori-nastaleeq-font {
    font-family: 'Jameel Noori Nastaleeq', sans-serif;
    font-size: 200%;
}

.nafees-nastaleeq-font {
    font-family: 'Nafees Nastaleeq', sans-serif;
    font-size: 200%;
}